<% provide(:title,"Home") %>

<% if logged_in? %>
  <div class="row">
    <!--<aside class="col-md-4">-->
      
    <!--  <section class="user-info">-->
    <!--    <%#= render 'shared/user_info'%>-->
    <!--  </section>-->
      
      
    <!--  <section class="stats">-->
    <!--    <%#= render 'shared/stats' %>-->
    <!--  </section>-->
      <!--フォロー、フォロワーのカウント-->
      
      
    <!--  <section class="micropost_form">-->
    <!--    <%#= render 'shared/micropost_form' %>-->
    <!--  </section>-->
    <!--</aside>-->
    
    
    
    
    
    <!--<div class="col-md-8">-->
    <!--  <h3>Micropost Feed</h3>-->
    <!--  <%#= render 'shared/feed' %>-->
    <!--</div>-->
<!--  --  -->
<!-- sell用 -->
<!--  --  -->


    <div class="col-md-8">
      <br>
      <h3>パチンコを探す</h3>
      <br>
      <%= render 'sells/sell' %>
        
      <%= link_to '新規投稿', new_sell_path %>
    </div>

 </div>
<!--crrent user自身のデータの表示-->
<!--  --  -->

 </div>
<!--crrent user自身のデータの表示-->
<% else %>

<div class="center jumbotron">
<center>
  <h1>パチンコ売買掲示板！</h1>
  <br>
<%= link_to "今すぐ会員登録", signup_path, class:"btn btn-lg btn-primary" %>
<!--未ログインの場合に-->
<% end %>
</center>
</div>